* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .header {
    display: grid;
    grid-column: 2/3;
  }
  
  .header ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  }
  
  .header .greeting_container {
    display: grid;
  }
  
  .header .greeting_container .pic_container{
    display: grid;
    grid-template-columns: 1fr 2fr; 
  }
  
  .sidebar {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  /* .sidebar .dashboard_logo {
    display: grid;
    gap: 50px;
  } */
  
  .article {
    display: grid;
    grid-column: 2/3;
  }
  
  .right_sidebar {
    display: grid;
    grid-column: 2/3;
  }