* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  
  .header {
    grid-column: 2/3;
  }
  
  .header ul{
    display: grid;
    /* grid-template-columns: repeat(4,1fr); */
    list-style-type: none;
  }

  .top{
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px; */
    align-items: center;
    height: 50px;
  }

  .search_bar {
    display: flex;
    align-items: center;
  }

  .search_bar ul{
    grid-template-columns: 10% 90%;
    align-items: center;
  }

  .notify ul{
    grid-template-columns: repeat(3,1fr);
    align-items: center;
  }

  .top_right_img{
    width: 50px;
    height: auto;
  }

  .header .greeting_container{
    display: grid;
    grid-template-columns: 10% 50% 40%; 
  }



  .header .menu ul{
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-auto-flow: column;
    margin-top: 30px;
}


  .sidebar {
    display: grid;
    grid-column: 1;
    grid-row: 1; 
  }
  .dashboard_logo {
    grid-row: 1;
  }
  
  /* .sidebar .dashboard_logo {
    display: grid;
    gap: 50px;
  } */
  
  .article {
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 70% 30%;
    /* gap: 20px; */
  }

  .left_article {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  .right_article{
    display: grid;
    grid-column: 2/3;
  }

  .announcements ul{
    list-style-type: none;
  }

  .trending ul{
    list-style-type: none;
  }